<%- include("partials/header"); -%>

<h1>Contact</h1>

<p>For any business queriers, contact DAILY JOURNAL Founder and CEO, XYZ.</p>
<p>Follow us on Instagram @dailyjournal</p>
<p>Subscribe to our newsletter!</p>
<p>Visit our <a href="#">website</a>.</p>

<%- include("partials/footer"); -%>